.App {
  font-family: sans-serif;
  text-align: center;
}
.table {
  max-width: fit-content;
}
.tr {
  display: flex;
  border: 1px solid #d7dcdf;
  border-radius: 2px;
  margin-top: 6px;
}
.td {
  width: 50px;
  height: 50px;
  margin: 0px;
}
.td:hover {
  background-color: #ecf1f3;
}
.tr-header .td {
  color: white;
  font-size: 12px;
  background-color: #9d9d9d;
}

.td.td-category {
  width: 100px;
  color: black;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  align-items: center;
}
.table .tr.tr-header {
  margin-top: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-hours {
}

.category-holder {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  height: 30px;
  color: #8d9498;
  border: 1px solid #8d9498;
  border-radius: 4px;
}

.myjob {
  width: 50px;
  /* background-color: rgb(183, 219, 183); */
}
.task-block {
  position: relative;
  border-radius: 3px;
  top: 5px;
  z-index: 99;
  cursor: pointer;
  height: 15px;
  word-break: keep-all;
  transform: translate(0%);
  left: 5px;
  color: black;
  font-size: 10px;
  border: 1px solid #e08781;
  background-color: #f4b6b1;
}
